<style>
    #myform input.ng-invalid.ng-dirty {
        background-color: #FFC0CB;
    }

    /*#myform input.ng-valid.ng-dirty {
         background-color: #78FA89;
    }*/
</style>
<div class="alert alert-danger alert-dismissible fade in" role="alert"
     ng-show="errorMsg!=null||errorMsg!=undefined">
    <button type="button" class="close" ng-click="errorMsg=null"
            aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p>{{errorMsg}}</p>
</div>
<div class="alert alert-success alert-dismissible fade in" role="alert"
     ng-show="successMsg">
    <button type="button" class="close" ng-click="successMsg=''"
            aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p>{{successMsg}}</p>
</div>

<div id="top">
    <div class="seat-manage-operate-container">
        <h4 class="seat-manage-operate-title">新增供应商</h4>
        <div class="seat-manage-operate-button form-inline">
            <button class="btn btn-success btn-sm" ng-click="saveSupplier()" ng-disabled="!myform.$valid">保存</button>
            <button class="btn btn-danger btn-sm" ng-click="cancel()">取消</button>
        </div>
    </div>
    <hr>

    <div class="col-sm-12">
        <form id="myform" name="myform" class="form-horizontal" novalidate>
            <fieldset id="basicInfo">
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span class="red">*</span>供应商名称</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="newSupplier.supplierName" required/>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span class="red">*</span>公司名称</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="newSupplier.companyName" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span class="red">*</span>负责人</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" required ng-model="newSupplier.contactPerson" />
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span class="red">*</span>联系电话</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="newSupplier.contactPhone" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span class="red">*</span>工商税务登记证号</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" required ng-model="newSupplier.regTaxNo" />
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">传真</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="newSupplier.fax"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">银行</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="newSupplier.bank" />
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">银行账号</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="newSupplier.bankAccount" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">地址</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="newSupplier.address" />
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">备注</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <textarea rows="5" ng-model="newSupplier.remark" style="width:100%"></textarea>
                    </div>
                </div>
        </form>
    </div>
</div>