<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" ng-show="currentTab===0">
        <div class="seat-manage-operate-container">
            <h4 class="seat-manage-operate-title">商品管理</h4>
            <div class="seat-manage-operate-button form-inline">
                <a type="button" class="btn btn-success btn-sm" href="#addMateriel" ng-show="roleCode==='00'"> 新增</a>
                <input class="form-control" ng-model="filterText" ng-change="filter()"
                       placeHolder="{{'BUSINESS_OPERATION_PRODUCT_SEARCH'|translate}}">
                <button type="button" class="btn btn-sm btn-primary" ng-click="refresh()">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <hr>

        <table ng-table="tableParams" class="table table-bordered">
            <tr ng-repeat="materiel in $data|filter:filterText">
                <td data-title="'名称'" sortable="'name'" width="30%">
                    <a ng-href="#/materielDetail/{{materiel.id}}">{{materiel.name}}</a>
                </td>
                <td data-title="'品牌'" sortable="'typeName'">{{materiel.typeName}}</td>
                <td data-title="'供应商'" sortable="'supplierId'">{{materiel.supplierName}}</td>
                <td data-title="'材质'" sortable="'texture'">{{materiel.texture}}</td>
                <td data-title="'售价'" sortable="'sellPrice'">{{materiel.sellPrice}}</td>
                <!--
                <td data-title="'停用'" sortable="'useFlag'">
                    <div ng-switch="materiel.useFlag">
                        <div ng-switch-when="0">是</div>
                        <div ng-switch-when="1">否</div>
                    </div>
                </td>-->
                <td data-title="'操作'">
                    <button type="button" class="btn btn-sm btn-primary"
                            ng-click="gotoEdit(materiel.id)" ng-show="roleCode==='00'">编辑</button>
                    <button type="button" class="btn btn-sm btn-primary"
                            ng-click="removeMateriel(materiel.id)" ng-show="roleCode==='00'">删除</button>
                </td>
            </tr>
        </table>
    </div>

</div>