<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" ng-show="currentTab===0">
        <div class="seat-manage-operate-container">
            <h4 class="seat-manage-operate-title">商品管理</h4>
            <div style="margin-top: 20px;">
                <form class="form-horizontal" novalidate id="queryMaterielForm" name="queryMaterielForm">
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">品牌</label>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <select class="form-control" required ng-model="filterCondition.typeId">
                                <option value="0">全部</option>
                                <option ng-repeat="goodsType in goodsTypeList" value="{{goodsType.typeId}}">{{goodsType.typeName}}</option>
                            </select>
                        </div>
                        <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">名称</label>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input class="form-control" ng-model="filterCondition.name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"></label>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <button ng-click="queryMateriel()">查询</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="seat-manage-operate-button form-inline" style="margin-top: 10px;margin-bottom: 10px;">
                <a type="button" class="btn btn-success btn-sm" href="#addMateriel" ng-show="roleCode==='00'"> 新增</a>
            </div>
            </div>
        <hr>

        <table ng-table="materielTable" class="table table-bordered">
            <tr ng-repeat="materiel in materielList">
                <td data-title="'名称'" sortable="'name'" width="30%">
                    <a ng-href="#/materielDetail/{{materiel.id}}">{{materiel.name}}</a>
                </td>
                <td data-title="'品牌'" sortable="'typeName'">{{materiel.typeName}}</td>
                <td data-title="'供应商'" sortable="'supplierId'">{{materiel.supplierName}}</td>
                <td data-title="'材质'" sortable="'texture'">{{materiel.texture}}</td>
                <td data-title="'售价'" sortable="'sellPrice'">{{materiel.sellPrice}}</td>
                <!--
                <td data-title="'停用'" sortable="'useFlag'">
                    <div ng-switch="materiel.useFlag">
                        <div ng-switch-when="0">是</div>
                        <div ng-switch-when="1">否</div>
                    </div>
                </td>-->
                <td data-title="'操作'">
                    <button type="button" class="btn btn-sm btn-primary"
                            ng-click="gotoEdit(materiel.id)" ng-show="roleCode==='00'">编辑</button>
                    <button type="button" class="btn btn-sm btn-primary"
                            ng-click="removeMateriel(materiel.id)" ng-show="roleCode==='00'">删除</button>
                </td>
            </tr>
        </table>
    </div>

</div>