<style>
    #myform input.ng-invalid.ng-dirty {
        background-color: #FFC0CB;
    }

    /*#myform input.ng-valid.ng-dirty {
         background-color: #78FA89;
    }*/
</style>
<div class="alert alert-danger alert-dismissible fade in" role="alert"
     ng-show="errorMsg!=null||errorMsg!=undefined">
    <button type="button" class="close" ng-click="errorMsg=null"
            aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p>{{errorMsg}}</p>
</div>
<div class="alert alert-success alert-dismissible fade in" role="alert"
     ng-show="successMsg">
    <button type="button" class="close" ng-click="successMsg=''"
            aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p>{{successMsg}}</p>
</div>

<div id="top">
    <div class="seat-manage-operate-container">
        <h4 class="seat-manage-operate-title">新增商品</h4>
        <div class="seat-manage-operate-button form-inline">
            <button class="btn btn-success btn-sm" ng-click="saveMateriel()" ng-disabled="!myform.$valid">保存</button>
            <button class="btn btn-danger btn-sm" ng-click="cancel()">取消</button>
        </div>
    </div>
    <hr>

    <div class="col-sm-12">
        <form id="myform" name="myform" class="form-horizontal" novalidate>
            <fieldset id="basicInfo">
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">条码</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="newMateriel.barcode"/>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span class="red">*</span>商品类型</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <select class="form-control" required ng-model="newMateriel.typeId">
                            <option ng-repeat="goodsType in goodsTypeList" value="{{goodsType.typeId}}">{{goodsType.typeName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span class="red">*</span>商品名称</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" required ng-model="newMateriel.name"/>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span class="red">*</span>品牌</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <select class="form-control" required ng-model="newMateriel.brand">
                            <option ng-repeat="goodsBrand in goodsBrandList" value="{{goodsBrand.brandName}}">{{goodsBrand.brandName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span class="red">*</span>供应商</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <select class="form-control" required ng-model="newMateriel.supplierId">
                            <option ng-repeat="supplier in supplierList" value="{{supplier.supplierId}}">{{supplier.supplierName}}</option>
                        </select>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span class="red">*</span>单位</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <select class="form-control" required ng-model="newMateriel.unit">
                            <option ng-repeat="goodsUnit in goodsUnitList" value="{{goodsUnit.dictName}}">{{goodsUnit.dictName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">颜色</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="newMateriel.color" />
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">型号</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="newMateriel.specification" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">材质</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="newMateriel.texture" />
                    </div>

                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">折射率</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="newMateriel.refractiveIndex" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span class="red">*</span>库存下限</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="number" class="form-control" ng-model="newMateriel.minInventory"
                               min="1" ng-init="newMateriel.minInventory=1" required/>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span class="red">*</span>库存上限</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="number" class="form-control" ng-model="newMateriel.maxInventory"
                               min="1" ng-init="newMateriel.maxInventory=100" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span class="red">*</span>售价</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="number" class="form-control" ng-model="newMateriel.sellPrice"
                               ng-init="newMateriel.sellPrice=0" required/>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">生产企业</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="newMateriel.manufacturer" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">备注</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <textarea rows="5" ng-model="newMateriel.remark" style="width:100%"></textarea>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>