<style type="text/css">
    #myform input.ng-invalid.ng-dirty {
        background-color: #FFC0CB;
    }
    .bg{display:none;position:fixed;width:100%;height:100%;background:lightgray;z-index:2;top:0;left:0;opacity:0.6;}
    .content{
        display:none;
        width:400px;
        height:500px;
        position:fixed;
        top:5%;
        background:#fff;
        z-index:3;
        left:50%;
        margin-left:-250px;
        TEXT-ALIGN: center;
        padding-left:15px;
        padding-right:15px;
    }
    table {
        border: 1px solid lightgray;
        width:95%;
        border-collapse:collapse;
        border-spacing:0;
        empty-cells:hide;
        word-break:break-all;
        word-wrap:break-word;
    }
    table tr td {
        height:30px;
    }

    p{
        padding-top:10px;
    }
</style>

<div class="alert alert-danger alert-dismissible fade in" role="alert"
     ng-show="errorMsg!=null||errorMsg!=undefined">
    <button type="button" class="close" ng-click="errorMsg=null"
            aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p>{{errorMsg}}</p>
</div>
<div class="alert alert-success alert-dismissible fade in" role="alert"
     ng-show="successMsg">
    <button type="button" class="close" ng-click="successMsg=''"
            aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p>{{successMsg}}</p>
</div>

<h4 class="seat-manage-operate-title" style="margin-bottom: 10px">编辑采购退货单</h4>
<ul class="nav nav-tabs" role="tablist" ng-init="currentTab=0">
    <li role="presentation" ng-class="{'active': currentTab===0}"><a
            href="javascript(0)" ng-click="currentTab=0" role="tab"
            data-toggle="tab">采购退货单</a></li>
    <li role="presentation" ng-class="{'active': currentTab===1}"><a
            href="javascript(0)" role="tab" ng-click="currentTab=1"
            data-toggle="tab">采购退货单明细</a></li>
</ul>

<div class="tab-content">
    <!-- 采购退货单 -->
    <div role="tabpanel" class="tab-pane active" ng-show="currentTab===0">
        <div class="seat-manage-operate-container">
            <div class="seat-manage-operate-button form-inline">
                <button class="btn btn-success btn-sm" ng-click="updatePurchaseOrder()" ng-disabled="!myform.$valid">保存</button>
                <button class="btn btn-danger btn-sm" ng-click="cancel()">取消</button>
            </div>
        </div>

        <div class="col-sm-12" style="margin-top: 10px;">
            <form class="form-horizontal" novalidate id="myform" name="myform">
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">编号</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" ng-readonly="true" ng-model="selectPurchaseOrder.code"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">退货日期</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <input class="form-control" type="text" required
                               onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})"
                               ng-model="selectPurchaseOrder.purchaseDate" name="purchaseDate"
                               id="purchaseDate" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">门店</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <select class="form-control" required ng-model="selectPurchaseOrder.storeId" disabled="true">
                            <option ng-repeat="store in storeList" value="{{store.storeId}}"
                                    ng-selected="store.storeId == selectPurchaseOrder.storeId">{{store.storeName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">供应商</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <select class="form-control" required ng-model="selectPurchaseOrder.supplierId" disabled="true">
                            <option ng-repeat="supplier in supplierList" value="{{supplier.supplierId}}"
                                    ng-selected="selectPurchaseOrder.supplierId == supplier.supplierId">
                                {{supplier.supplierName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">业务员</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <select class="form-control" required ng-model="selectPurchaseOrder.businessmanId">
                            <option ng-repeat="adminUser in adminUserList" value="{{adminUser.adminUserId}}"
                                    ng-selected="adminUser.adminUserId==selectPurchaseOrder.businessmanId">
                                {{adminUser.adminUserDetailModel.realname}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">数量</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" required ng-readonly="true"
                               ng-model="selectPurchaseOrder.totalQuantity"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">退货金额</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" required ng-readonly="true"
                               ng-model="selectPurchaseOrder.totalAmount"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">备注</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <textarea rows="5" ng-model="selectPurchaseOrder.remark" style="width:100%"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- 采购退货单明细 -->
    <div role="tabpanel" class="tab-pane active" ng-show="currentTab===1">
        <div class="seat-manage-operate-container">
            <div class="seat-manage-operate-button form-inline">
                <div style="text-align: center;">
                    <button class="btn btn-success btn-sm" ng-click="newPurchaseOrderItem_()">添加明细</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="oz-form-fields"  style="width:100%;padding-top: 5px">
                <!-- 采购退货单明细 -->
                <table class="table table-bordered" style="margin-top: 10px;" id="itemContainer">
                    <tr>
                        <td>名称</td>
                        <td>商品类型</td>
                        <td>球镜</td>
                        <td>柱镜</td>
                        <td>轴向</td>
                        <td>价格</td>
                        <td>数量</td>
                        <td>小计</td>
                        <td>备注</td>
                        <td>操作</td>
                    </tr>
                    <tr ng-repeat="item in selectPurchaseOrder.purchaseOrderItemList">
                        <td>{{item.materiel.name}}</td>
                        <td>{{item.materiel.typeName}}</td>
                        <td>{{item.sphere}}</td>
                        <td>{{item.cylinder}}</td>
                        <td>{{item.axial}}</td>
                        <td>{{item.purchasePrice}}</td>
                        <td>{{item.purchaseQuantity}}</td>
                        <td>{{item.purchasePrice * item.purchaseQuantity}}</td>
                        <td>{{item.remark}}</td>
                        <td><button ng-click="delItem($index)">删除</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="bg"></div>
<div class="content">
    <h3>退货单明细</h3>
    <table class="table table-bordered" style="margin-top: 10px;">
        <tr>
            <td>商品</td>
            <td>
                <select class="form-control" id="materiel" ng-model="purchaseOrderItem.materielId">
                    <option value=""></option>
                </select>
            </td>
        </tr>
        <tr><td>名称</td><td><input type="text" ng-model="selectedMard.materiel.name" ng-readonly="true"/></td></tr>
        <tr><td>条码</td><td><input type="text" ng-model="selectedMard.materiel.barcode" ng-readonly="true"/></td></tr>
        <tr>
            <td>当前库存</td>
            <td><input type="text" readonly="true" ng-model="selectedMard.currentInventory"/>
            </td>
        </tr>
        <tr><td>价格</td><td><input type="number" min="0" ng-model="purchaseOrderItem.purchasePrice" /></td></tr>
        <tr>
            <td>数量</td>
            <td><input type="number" step="1" ng-model="purchaseOrderItem.purchaseQuantity" min="1"/></td>
        </tr>
        <tr><td>小计</td><td>{{purchaseOrderItem.purchasePrice * purchaseOrderItem.purchaseQuantity}}</td></tr>
        <tr>
            <td>备注</td><td><input type="text" ng-model="purchaseOrderItem.remark"/></td>
        </tr>
    </table>
    <p>
        <button ng-click="addItem_()">添加</button>
        <button ng-click="closeBtn_()">关闭</button>
    </p>
</div>

<script type="text/javascript" charset="utf-8" src="My97DatePicker/WdatePicker.js"></script>