<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" ng-show="currentTab===0">
        <div class="seat-manage-operate-container">
            <h4 class="seat-manage-operate-title">采购退货单</h4>
            <div class="seat-manage-operate-button form-inline">
                <!--<a type="button" class="btn btn-success btn-sm" href="#addPurchaseOrder"> 新增</a>-->
                <input class="form-control" ng-model="filterText" ng-change="filter()"
                       placeHolder="{{'BUSINESS_OPERATION_PRODUCT_SEARCH'|translate}}">
                <button type="button" class="btn btn-sm btn-primary" ng-click="refresh()">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <hr>

        <table ng-table="tableParams" class="table table-bordered">
            <tr ng-repeat="order in $data|filter:filterText">
                <td data-title="'编号'" sortable="'code'">
                    <a href="#/purchaseRefundOrderDetail/{{order.purchaseOrderId}}">{{order.code}}</a>
                </td>
                <td data-title="'退货日期'" sortable="'purchaseDate'">{{order.purchaseDate}}</td>
                <td data-title="'门店'" sortable="'code'">{{order.storeName}}</td>
                <td data-title="'供应商'" sortable="'code'">{{order.supplierName}}</td>
                <td data-title="'业务员'" sortable="'code'">{{order.businessmanName}}</td>
                <td data-title="'数量'" sortable="'code'">{{order.totalQuantity}}</td>
                <td data-title="'退货金额'" sortable="'code'">{{order.totalAmount}}</td>
                <td data-title="'操作'">
                    <button type="button" class="btn btn-sm btn-primary"
                            ng-click="gotoEdit(order.purchaseOrderId)" ng-show="roleCode==='00'">编辑</button>
                    <button type="button" class="btn btn-sm btn-primary"
                            ng-click="removePurchaseOrder(order.purchaseOrderId)" ng-show="roleCode==='00'">删除</button>
                </td>
            </tr>
        </table>
    </div>

</div>