<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
	<!-- 自动扫描该包，使SpringMVC认为包下用了@controller注解的类是控制器 -->
	<context:component-scan base-package="com.luda.*.controller" />

	<mvc:annotation-driven />

	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	<mvc:resources mapping="/app/**" location="/app/" />
	<mvc:resources mapping="/resources/**" location="/resources/" />
	<mvc:resources mapping="/bootstrap-3.3.5-dist/**"
		location="/bootstrap-3.3.5-dist/" />
	<mvc:resources mapping="/angular-1.2.28/**" location="/angular-1.2.28/" />
	<mvc:resources mapping="/angular-1.4.3/**" location="/angular-1.4.3/" />
	<mvc:resources mapping="/i18n/**" location="/i18n/" />
	<mvc:resources mapping="/**" location="/" />
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 系统异常处理 -->
	<bean id="exceptionHandler" class="com.luda.exception.ExceptionHandle" />
	
	<!-- Configure to plugin JSON as request and response in method handler -->
	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="jsonMessageConverter" />
			</list>
		</property>
	</bean>

	<!-- Configure bean to convert JSON to POJO and vice versa -->
	<bean id="jsonMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- <property name="maxUploadSize" value="1048576"></property> -->
	</bean>
	
	<!-- 国际化请求拦截器处理 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/rest/**" />
			<bean class="com.luda.interceptor.SessionTimeoutInterceptor"></bean>
		</mvc:interceptor>
		<bean class="com.luda.interceptor.LogInterceptor" />
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
	</mvc:interceptors>

	<!-- i18n config -->
	<bean id="messageSource"  
      	class="org.springframework.context.support.ResourceBundleMessageSource">  
	    <!-- welcome为文件的前缀 ，message为文件夹 -->  
	    <property name="basenames" value="i18n/message"/>  
	    <property name="defaultEncoding" value="utf8" />  
	</bean>

	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
	</bean>

	<!-- i18n config -->
</beans>