<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" ng-show="currentTab===0">
        <div class="seat-manage-operate-container">
            <h5 class="seat-manage-operate-title">字典管理</h5>
            <div class="seat-manage-operate-button form-inline">
                <a type="button" class="btn btn-success btn-sm" href="#addGoodsType"> 新增</a>
                <input class="form-control" ng-model="filterText" ng-change="filter()"
                       placeHolder="{{'BUSINESS_OPERATION_PRODUCT_SEARCH'|translate}}">
                <button type="button" class="btn btn-sm btn-primary" ng-click="refresh()">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <hr>

        <table ng-table="tableParams" class="table table-bordered">
            <tr ng-repeat="goodsType in $data|filter:filterText">
                <td data-title="'名称'" sortable="'typeName'">{{goodsType.typeName}}</td>
                <td data-title="'商品种类'" sortable="'kindId'">{{goodsType.kindName}}</td>

                <td data-title="'操作'">
                    <button type="button" class="btn btn-sm btn-primary"
                            ng-click="gotoEdit(goodsType.typeId)">编辑</button>

                    <button type="button" class="btn btn-sm btn-primary"
                            ng-click="removeGoodsType(goodsType.typeId)">删除</button>
                </td>
            </tr>
        </table>
    </div>

</div>