<style type="text/css">
    #myform input.ng-invalid.ng-dirty {
        background-color: #FFC0CB;
    }
    table {
        border: 1px solid lightgray;
        width:95%;
        border-collapse:collapse;
        border-spacing:0;
        empty-cells:hide;
        word-break:break-all;
        word-wrap:break-word;
    }
    table tr td {
        height:30px;
    }

    p{
        padding-top:10px;
    }
    .bg{display:none;position:fixed;width:100%;height:100%;background:lightgray;z-index:2;top:0;left:0;opacity:0.6;}
    .content{
        display:none;
        width:800px;
        height:500px;
        position:fixed;
        top:5%;
        bottom:5%;
        background:#fff;
        z-index:3;
        left:50%;
        margin-left:-250px;
        TEXT-ALIGN: center;
        padding-left:15px;
        padding-right:15px;
    }

    .content input {
        width:80px;
    }
</style>

<div class="alert alert-danger alert-dismissible fade in" role="alert"
     ng-show="errorMsg!=null||errorMsg!=undefined">
    <button type="button" class="close" ng-click="errorMsg=null"
            aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p>{{errorMsg}}</p>
</div>
<div class="alert alert-success alert-dismissible fade in" role="alert"
     ng-show="successMsg">
    <button type="button" class="close" ng-click="successMsg=''"
            aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p>{{successMsg}}</p>
</div>

<h4 class="seat-manage-operate-title" style="margin-bottom: 10px">客户详情</h4>
<div class="seat-manage-operate-container">
    <div class="seat-manage-operate-button form-inline">
        <button class="btn btn-success btn-sm" ng-click="cancel()">返回</button>
    </div>
</div>

<ul class="nav nav-tabs" role="tablist" ng-init="currentTab=0">
    <li role="presentation" ng-class="{'active': currentTab===0}"><a
            href="javascript(0)" ng-click="currentTab=0" role="tab"
            data-toggle="tab">客户信息</a></li>
    <li role="presentation" ng-class="{'active': currentTab===1}"><a
            href="javascript(0)" role="tab" ng-click="currentTab=1"
            data-toggle="tab">消费记录</a></li>
    <li role="presentation" ng-class="{'active': currentTab===2}"><a
            href="javascript(0)" role="tab" ng-click="currentTab=2"
            data-toggle="tab">验光记录</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" ng-show="currentTab===0">
        <div class="col-sm-12" style="margin-top: 10px;">
            <form id="myform" name="myform" class="form-horizontal" novalidate>
                <fieldset id="basicInfo">
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">编号</label>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="text" class="form-control" ng-model="selectCustomer.code" ng-disabled="true"/>
                        </div>
                        <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">姓名</label>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="text" class="form-control" ng-model="selectCustomer.name" ng-disabled="true"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">性别</label>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <select ng-model="selectCustomer.gender" class="form-control" ng-disabled="true">
                                <option value="M">男</option>
                                <option value="F">女</option>
                            </select>
                        </div>
                        <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">年龄</label>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="text" class="form-control" ng-model="selectCustomer.age" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">生日</label>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input class="form-control" type="text"
                                   onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})"
                                   ng-model="selectCustomer.birthday" name="birthday"
                                   id="birthday" ng-disabled="true"/>
                        </div>
                        <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">手机号码</label>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="text" class="form-control" required
                                   ng-model="selectCustomer.mobileNumber" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">微信</label>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="text" class="form-control" ng-model="selectCustomer.wechatno" ng-disabled="true"/>
                        </div>
                        <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">地区</label>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <select class="form-control" ng-model="selectCustomer.region" ng-disabled="true">
                                <option ng-repeat="region in regionList" value="{{region.dictName}}"
                                        ng-selected="region.dictName==selectCustomer.region">
                                    {{region.dictName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">地址</label>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="text" class="form-control" ng-model="selectCustomer.address" ng-disabled="true"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <!-- 消费记录 -->
    <div role="tabpanel" class="tab-pane active" ng-show="currentTab===1">
        <div class="seat-manage-operate-container">
            <div class="seat-manage-operate-button form-inline">
                <div style="text-align: center;">
                    <input class="form-control" ng-model="filterSalesOrderText" ng-change="filterSalesOrder()"
                           placeHolder="搜索">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="refreshSalesOrder()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="oz-form-fields"  style="width:100%;padding-top: 5px">
                <table ng-table="salesOrders" class="table table-bordered">
                    <tr ng-repeat="salesOrder in $data|filter:filterSalesOrderText">
                        <td data-title="'销售单号'" sortable="'code'">
                            <a ng-href="#/salesOrderDetail/{{salesOrder.id}}">{{salesOrder.code}}</a>
                        </td>
                        <td data-title="'销售日期'" sortable="'saleDate'">{{salesOrder.saleDate}}</td>
                        <td data-title="'取货日期'" sortable="'pickUpDate'">{{salesOrder.pickUpDate}}</td>
                        <td data-title="'总数量'" sortable="'totalQuantity'">{{salesOrder.totalQuantity}}</td>
                        <td data-title="'销售总额'" sortable="'totalAmount'">{{salesOrder.totalAmount}}</td>
                        <td data-title="'门店'" sortable="'storeName'">{{salesOrder.storeName}}</td>
                        <td data-title="'销售员'" sortable="'businessManName'">{{salesOrder.businessManName}}</td>
                        <!--
                        <td data-title="'操作'">
                            <button type="button" class="btn btn-sm btn-primary"
                                    ng-click="gotoEdit(salesOrder.id)">明细</button>
                        </td>
                        -->
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- 验光记录 -->
    <div role="tabpanel" class="tab-pane active" ng-show="currentTab===2">
        <div class="seat-manage-operate-container">
            <div class="seat-manage-operate-button form-inline">
                <div style="text-align: center;">
                    <a type="button" class="btn btn-success btn-sm" ng-click="addOptometryRecord()">添加验光记录</a>
                    <input class="form-control" ng-model="filterOptometryRecordText" ng-change="filterOptometryRecord()"
                           placeHolder="搜索">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="refreshOptometryRecord()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="oz-form-fields"  style="width:100%;padding-top: 5px">
                <table ng-table="optometryRecords" class="table table-bordered">
                    <tr ng-repeat="record in $data|filter:filterOptometryRecordText">
                        <td data-title="'验光日期'" sortable="'optometryDate'">{{record.optometryDate}}</td>
                        <td data-title="'右/左球镜'" sortable="'rightSphere'">{{record.rightSphere | number:2}} /{{record.leftSphere | number:2}}</td>
                        <td data-title="'右/左柱镜'" sortable="'rightCylinder'">{{record.rightCylinder | number:2}}/{{record.leftCylinder | number:2}}</td>
                        <td data-title="'右/左轴向'" sortable="'rightAxial'">{{record.rightAxial | number:2}}/{{record.leftAxial | number:2}}</td>
                        <td data-title="'右/左裸视'" sortable="'rightUncorrectedVisualAcuity'">{{record.rightUncorrectedVisualAcuity | number:2}}/{{record.leftUncorrectedVisualAcuity | number:2}}</td>
                        <td data-title="'右/左矫正'" sortable="'rightCorrectedVisualAcuity'">{{record.rightCorrectedVisualAcuity | number:2}}/{{record.leftCorrectedVisualAcuity | number:2}}</td>
                        <td data-title="'瞳距'" sortable="'optometrist'">{{record.ipd | number:2}}</td>
                        <td data-title="'ADD'" sortable="'optometrist'">{{record.add | number:2}}</td>
                        <td data-title="'验光师'" sortable="'optometrist'">{{record.optometrist}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="bg"></div>

<!--添加新客户-->
<div class="content">
    <h3>添加验光记录</h3>
    <table class="table table-bordered" style="margin-top: 10px;">
        <tr>
            <th></th>
            <th>球镜</th>
            <th>柱镜</th>
            <th>轴向</th>
            <th>矫正</th>
            <th>裸视</th>
            <th>瞳距</th>
            <th>ADD</th>
        </tr>
        <tr>
            <td><b>右</b></td>
            <td><input type="number" step="0.1" ng-model="optometryRecord.rightSphere" /></td>
            <td><input type="number" step="0.1" ng-model="optometryRecord.rightCylinder" /></td>
            <td><input type="number" step="0.1" ng-model="optometryRecord.rightAxial" /></td>
            <td><input type="number" step="0.1" ng-model="optometryRecord.rightCorrectedVisualAcuity" /></td>
            <td><input type="number" step="0.1" ng-model="optometryRecord.rightUncorrectedVisualAcuity" /></td>
            <td><input type="number" step="0.1" ng-model="optometryRecord.ipd" /></td>
            <td><input type="number" step="0.1" ng-model="optometryRecord.add" /></td>
        </tr>
        <tr>
            <td><b>左</b></td>
            <td><input type="number" step="0.1" ng-model="optometryRecord.leftSphere" /></td>
            <td><input type="number" step="0.1" ng-model="optometryRecord.leftCylinder" /></td>
            <td><input type="number" step="0.1" ng-model="optometryRecord.leftAxial" /></td>
            <td><input type="number" step="0.1" ng-model="optometryRecord.leftCorrectedVisualAcuity" /></td>
            <td><input type="number" step="0.1" ng-model="optometryRecord.leftUncorrectedVisualAcuity" /></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>验光师</b></td>
            <td colspan="7"><input ng-model="optometryRecord.optometrist" style="width: 120px"/></td>
        </tr>
        <tr>
            <td><b>备注</b></td>
            <td colspan="7">
                <textarea rows="5" ng-model="optometryRecord.remark" style="width:100%"></textarea>
            </td>
        </tr>
    </table>
    <p>
        <button ng-click="saveOptometryRecord()">保存</button>
        <button ng-click="closeBtn()">关闭</button>
    </p>
</div>

<script type="text/javascript" charset="utf-8" src="My97DatePicker/WdatePicker.js"></script>