<style>
    #myform input.ng-invalid.ng-dirty {
        background-color: #FFC0CB;
    }
</style>
<div id="top">
    <div class="seat-manage-operate-container">
        <h4 class="seat-manage-operate-title">员工详情</h4>
        <div class="seat-manage-operate-button form-inline">
            <button class="btn btn-success btn-sm" ng-click="cancel()">返回</button>
        </div>
    </div>
    <hr>
    <div class="col-sm-12">
        <form id="myform" name="myform" class="form-horizontal" novalidate>
            <fieldset id="basicInfo">
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span class="red">*</span>用户名</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="selectAdminUser.adminName" ng-disabled="true"/>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span class="red">*</span>工号</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="selectAdminUser.staffid" ng-disabled="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span class="red">*</span>所属门店</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <select class="form-control" required ng-model="selectAdminUser.storeId" ng-disabled="true">
                            <option ng-repeat="store in storeList" value="{{store.storeId}}"
                                    ng-selected="selectAdminUser.storeId==store.storeId">
                                {{store.storeName}}
                            </option>
                        </select>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span class="red">*</span>角色</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <select class="form-control" required ng-model="selectAdminUser.roleId" ng-disabled="true">
                            <option ng-repeat="role in roleList" value="{{role.roleId}}"
                                    ng-selected="selectAdminUser.roleId==role.roleId">
                                {{role.roleName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span class="red">*</span>姓名</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-disabled="true" ng-model="selectAdminUser.adminUserDetailModel.realname"/>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">性别</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <select ng-model="selectAdminUser.adminUserDetailModel.gender" ng-disabled="true">
                            <option value="M" ng-selected="selectAdminUser.adminUserDetailModel.gender=='M'">男</option>
                            <option value="F" ng-selected="selectAdminUser.adminUserDetailModel.gender=='F'">女</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label"><span class="red">*</span>手机号码</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="tel" class="form-control" ng-disabled="true" ng-model="selectAdminUser.mobileNumber" required/>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">邮箱</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="email" name = "email" class="form-control" ng-model="selectAdminUser.adminUserDetailModel.email" ng-disabled="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">身份证</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="selectAdminUser.adminUserDetailModel.idNo" ng-disabled="true"/>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">籍贯</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control"  ng-model="selectAdminUser.adminUserDetailModel.nativePlace" ng-disabled="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">地址</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="selectAdminUser.adminUserDetailModel.address" ng-disabled="true"/>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">邮政编码</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="selectAdminUser.adminUserDetailModel.postcode" ng-disabled="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">出生年月</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input id="birthday" class="form-control" name="birthday" type="text"
                               onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})"
                               ng-model="selectAdminUser.adminUserDetailModel.birthday"
                               ng-disabled="true"/>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">学历</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <select ng-model="selectAdminUser.adminUserDetailModel.education" ng-disabled="true">
                            <option value="博士">博士</option>
                            <option value="硕士">硕士</option>
                            <option value="研究生">研究生</option>
                            <option value="本科">本科</option>
                            <option value="大专">大专</option>
                            <option value="高中">高中</option>
                            <option value="初中">初中</option>
                            <option value="小学">小学</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">婚姻状况</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <select ng-model="selectAdminUser.adminUserDetailModel.maritalStatus" ng-disabled="true">
                            <option value="已婚">已婚</option>
                            <option value="未婚">未婚</option>
                        </select>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">银行账户</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="selectAdminUser.adminUserDetailModel.bankAccount" ng-disabled="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">开户行</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="selectAdminUser.adminUserDetailModel.bank" ng-disabled="true"/>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">微信</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="selectAdminUser.adminUserDetailModel.wechatNumber" ng-disabled="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">QQ</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" ng-model="selectAdminUser.adminUserDetailModel.qqNumber" ng-disabled="true"/>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">入职时间</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input class="form-control" id="onboardDate" name="onboardDate" type="text"
                               onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})"
                               ng-model="selectAdminUser.adminUserDetailModel.onboardDate"
                               ng-disabled="true" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">离职时间</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input class="form-control" id="dimissionDate" name="dimissionDate" type="text"
                               onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})"
                               ng-model="selectAdminUser.adminUserDetailModel.dimissionDate"
                               ng-disabled="true"/>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">激活</label>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input type="checkbox" id="activeFlag" ng-model="selectAdminUser.activeFlag"
                               ng-checked="selectAdminUser.activeFlag==1" ng-disabled="true"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
