<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luda.customer.dao.CustomerDao" >
    <resultMap id="customerMapper" type="com.luda.customer.model.CustomerModel">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="age" column="age"/>
        <result property="birthday" column="birthday"/>
        <result property="mobileNumber" column="mobile_num"/>
        <result property="wechatno" column="wechat_num"/>
        <result property="region" column="region"/>
        <result property="regionName" column="region_name"/>
        <result property="address" column="address"/>
    </resultMap>

    <resultMap id="optometryRecordMap" type="com.luda.customer.model.OptometryRecord">
        <id property="id" column="id"/>
        <result property="customerId" column="customer_id"/>
        <result property="optometryDate" column="optometry_date"/>
        <result property="rightSphere" column="r_sphere"/>
        <result property="leftSphere" column="l_sphere"/>
        <result property="rightCylinder" column="r_cylinder"/>
        <result property="leftCylinder" column="l_cylinder"/>
        <result property="rightAxial" column="r_axial"/>
        <result property="leftAxial" column="l_axial"/>
        <result property="rightUncorrectedVisualAcuity" column="r_uncorrected_visual_acuity"/>
        <result property="leftUncorrectedVisualAcuity" column="l_uncorrected_visual_acuity"/>
        <result property="rightCorrectedVisualAcuity" column="r_corrected_visual_acuity"/>
        <result property="leftCorrectedVisualAcuity" column="l_corrected_visual_acuity"/>
        <result property="remark" column="remark"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="businessManName" column="real_name"/>
        <result property="optometrist" column="optometrist"/>
    </resultMap>

    <select id="fetchCustomerList" resultMap="customerMapper">
        select * from customer where delete_flag = 0

    </select>

    <insert id="saveCustomer" parameterType="com.luda.customer.model.CustomerModel"
            useGeneratedKeys="true" keyProperty="id">
        insert into customer
        (
           code,
           name,
           gender,
           age,
           birthday,
           mobile_num,
           wechat_num,
           region,
           region_name,
           address
        )
        values
        (
            #{code},
            #{name},
            #{gender},
            #{age},
            #{birthday},
            #{mobileNumber},
            #{wechatno},
            #{region},
            #{regionName},
            #{address}
        )
    </insert>

    <select id="getMaxCode" resultType="java.lang.String">
        select max(code) from customer
    </select>

    <select id="getById" resultMap="customerMapper">
        select * from customer where id = #{customerId} and delete_flag = 0
    </select>

    <update id="updateCustomer" parameterType="com.luda.customer.model.CustomerModel">
        update customer
        set
            name = #{name},
            gender = #{gender},
            age = #{age},
            birthday = #{birthday},
            mobile_num = #{mobileNumber},
            wechat_num = #{wechatno},
            region = #{region},
            address = #{address}
        where id = #{id}
    </update>

    <update id="removeCustomer" parameterType="int">
        update customer set delete_flag = 1 where id = #{id}
    </update>

    <insert id="saveOptometryRecord" parameterType="com.luda.customer.model.OptometryRecord"
            useGeneratedKeys="true" keyProperty="id">
        insert into optometry_record
        (
            customer_id,
            optometrist,
            optometry_date,
            r_sphere,
            l_sphere,
            r_cylinder,
            l_cylinder,
            r_axial,
            l_axial,
            r_uncorrected_visual_acuity,
            l_uncorrected_visual_acuity,
            r_corrected_visual_acuity,
            l_corrected_visual_acuity,
            remark,
            create_user_id,
            create_time,
            update_user_id,
            update_time
        )
        values
        (
            #{customerId},
            #{optometrist},
            #{optometryDate},
            #{rightSphere},
            #{leftSphere},
            #{rightCylinder},
            #{leftCylinder},
            #{rightAxial},
            #{leftAxial},
            #{rightUncorrectedVisualAcuity},
            #{leftUncorrectedVisualAcuity},
            #{rightCorrectedVisualAcuity},
            #{leftCorrectedVisualAcuity},
            #{remark},
            #{createUserId},
            now(),
            #{updateUserId},
            now()
        )
    </insert>

    <select id="fetchOptometryRecordsByCustomerId" resultMap="optometryRecordMap">
        select * from optometry_record
        where customer_id = #{customerId} and delete_flag = 0
        order by id desc
    </select>
</mapper>