<style>
    #myform input.ng-invalid.ng-dirty {
        background-color: #FFC0CB;
    }

    /*#myform input.ng-valid.ng-dirty {
         background-color: #78FA89;
    }*/
</style>
<div class="alert alert-danger alert-dismissible fade in" role="alert"
     ng-show="errorMsg!=null||errorMsg!=undefined">
    <button type="button" class="close" ng-click="errorMsg=null"
            aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p>{{errorMsg}}</p>
</div>
<div class="alert alert-success alert-dismissible fade in" role="alert"
     ng-show="successMsg">
    <button type="button" class="close" ng-click="successMsg=''"
            aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p>{{successMsg}}</p>
</div>

<div id="top">
    <div class="seat-manage-operate-container">
        <h5 class="seat-manage-operate-title">编辑门店</h5>
        <div class="seat-manage-operate-button form-inline">
            <button class="btn btn-success btn-sm" ng-click="updateStore()" ng-disabled="!myform.$valid">保存</button>
            <button class="btn btn-danger btn-sm" ng-click="cancel()">取消</button>
        </div>
    </div>
    <hr>

    <div class="col-sm-12">
        <form id="myform" name="myform" class="form-horizontal" novalidate>
            <fieldset id="basicInfo">
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">编号</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" ng-model="selectStore.storeCode" ng-readonly="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">名称</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" required ng-model="selectStore.storeName"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">联系人</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" required ng-model="selectStore.contactPerson" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">联系电话</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" required ng-model="selectStore.contactPhone" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">传真电话</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" required ng-model="selectStore.faxPhone" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">地址</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" required ng-model="selectStore.storeAddress" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">总店</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <input type="checkbox" ng-model="selectStore.headOfficeFlag" ng-checked="selectStore.headOfficeFlag=='Y'"
                               ng-true-value="Y" ng-false-value="N" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">备注</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <input type="text" class="form-control" ng-model="selectStore.remark" />
                    </div>
                </div>
        </form>
    </div>
</div>

