<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" ng-show="currentTab===0">
        <div class="seat-manage-operate-container">
            <h4 class="seat-manage-operate-title">门店管理</h4>
            <div class="seat-manage-operate-button form-inline">
                <a type="button" class="btn btn-success btn-sm" href="#addStore"> 新增</a>
                <input class="form-control" ng-model="filterText" ng-change="filter()"
                       placeHolder="{{'BUSINESS_OPERATION_PRODUCT_SEARCH'|translate}}">
                <button type="button" class="btn btn-sm btn-primary" ng-click="refresh()">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <hr>

        <table ng-table="tableParams" class="table table-bordered">
            <tr ng-repeat="store in $data|filter:filterText">
                <td data-title="'编号'" sortable="'storeCode'">{{store.storeCode}}</td>
                <td data-title="'名称'" sortable="'storeName'">{{store.storeName}}</td>
                <td data-title="'联系人'" sortable="'contactPerson'">{{store.contactPerson}}</td>
                <td data-title="'联系电话'" sortable="'contactPhone'">{{store.contactPhone}}</td>
                <!--<td data-title="'传真电话'" sortable="'faxPhone'">{{store.faxPhone}}</td>-->
                <td data-title="'地址'" sortable="'storeAddress'">{{store.storeAddress}}</td>
                <td data-title="'总店'" sortable="'headOfficeFlag'">
                    <div ng-switch="store.headOfficeFlag">
                        <div ng-switch-when="Y">是</div>
                        <div ng-switch-when="N">否</div>
                    </div>
                </td>
                <td data-title="'操作'">
                    <button type="button" class="btn btn-sm btn-primary"
                            ng-click="gotoEdit(store.storeId)">编辑</button>
                    <button type="button" class="btn btn-sm btn-primary"
                            ng-click="removeStore(store.storeId)">删除</button>
                </td>
            </tr>
        </table>
    </div>

</div>