<h4 class="seat-manage-operate-title">销售报表</h4>

<div class="tab-content">
    <!-- 按商品 -->
    <div role="tabpanel" class="tab-pane active">
        <div class="seat-manage-operate-container">
            <div class="seat-manage-operate-button form-inline">
                <button class="btn btn-success btn-sm" ng-click="queryByMateriel()">查询</button>
            </div>
        </div>

        <div class="col-sm-12" style="margin-top: 10px;">
            <table class="table table-bordered" style="margin-top: 10px;">
                <tr>
                    <td>起止时间</td>
                    <td>
                        <input type="text" placeholder="请输入开始日期" onClick="WdatePicker({dateFmt:'yyyy-MM-dd', maxDate:'%y-%M-%d', readOnly:true})"
                               ng-model="statisticsCondition.beginDate" id="beginDate" />
                        -
                        <input type="text" placeholder="请输入结束日期" onClick="WdatePicker({dateFmt:'yyyy-MM-dd', maxDate:'%y-%M-%d', readOnly:true})"
                               ng-model="statisticsCondition.endDate" id="endDate" />
                    </td>
                </tr>
                <tr>
                    <td>统计分类</td>
                    <td>
                        按商品类型：<input type="radio" ng-model="statisticsCondition.dimension" value="1" ng-checked="1"/>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        按门店：<input type="radio" ng-model="statisticsCondition.dimension" value="2"/>
                    </td>
                </tr>
            </table>
            <img id="chartImage" src="/luda_glasses/rest/statistics/sale/chart/1/2018-01-01/2018-02-04" />
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8" src="My97DatePicker/WdatePicker.js"></script>